$li-height: 3em;
div.site-branding {
  padding-top: $li-height;
}
div.site-main-nav {
  position: fixed;
  z-index: 9;
  transition: all 0.5s;
  width: 100%;
  &.scrollUp {
    transform: translateY(-$li-height)
  }
  .gtranslate {
    position: absolute;
    height: $li-height;
    width: $li-height;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    right: 3em;
    a.switcher-popup {
      >span:nth-of-type(1) {
        display: none;
      }
    }
  }
  div.menu-primary-menu-container {
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    >ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      >li {
        position: relative;
        background-color: $rgba-navbar-3;
        height: $li-height;
        width: 100%;
      }
      >li#bars {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 1.5em;
          text-transform: capitalize;
          padding-left: 0.5em;
          margin: 0;
        }
        i {
          padding-right: 0.5em;
          font-size: 2em;
        }
      }
      >li.menu-item {
        display: none;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: $default;
        }
        >ul {
          display: none;
          position: relative;
          width: 100%;
          list-style: none;
          >li {
            height: $li-height;
            justify-content: center;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              text-decoration: none;
              color: $default;
            }
          }
        }
        &.hover {
          background-color: $rgba-navbar-0;
          a {
            color: $pink;
          }
          >ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            top: $li-height;
            >li {
              background-color: $rgba-navbar-0;
              >a {
                color: $default;
              }
              &:hover {
                background-color: $rgba-navbar-1;
                >a {
                  color: $pink;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 960px) {
  div.site-main-nav {
    .gtranslate {
      left: 0em;
      a.switcher-popup {
        >span:nth-of-type(1) {
          display: none;
        }
      }
    }
    div.menu-primary-menu-container {
      >ul {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        li {
          position: static;
        }
        >li#bars {
          display: none;
        }
        >li.menu-item {
          display: flex;
          >ul {
            position: absolute;
            left: 0;
            top: $li-height;
            width: 100%;
          }
        }
      }
    }
  }
}
