$li-height: 3em;

div.menu-primary-menu-container {
  position: relative;
  text-transform: uppercase;
  >ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    >li {
      position: relative;
      background-color: $rgba-primary-3;
      height: $li-height;
      width: 100%;
    }
    >li#bars {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        text-transform: capitalize;
        padding-left: 0.5em;
        margin: 0;
      }
      i {
        padding-right: 0.5em;
        font-size: 2em;
      }
    }
    >li.menu-item {
      display: none;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $default;
      }
      >ul {
        display: none;
        position: relative;
        width: 100%;
        list-style: none;
        >li {
          height: $li-height;
          justify-content: center;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $default;
          }
        }
      }
      &:hover {
        background-color: $rgba-primary-0;
        a {
          color: white;
        }
        >ul {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          top: $li-height;
          >li {
            background-color: $rgba-primary-0;
            >a {
              color: $default;
            }
            &:hover {
              background-color: $rgba-primary-1;
              >a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 960px) {  
  div.menu-primary-menu-container {
    >ul {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      li {
        position: static;
      }
      >li#bars {
        display: none;
      }
      >li.menu-item {
        display: flex;
        // a {
        // }
        >ul {
          position: absolute;
          left: 0;
          top: $li-height;
          width: 100%;
          // >li {
          //   a {
          //   }
          // }
        // }
        // &:hover {
        //   a {
        //   }
        //   >ul {
        //     >li {
        //       >a {
        //       }
        //       &:hover {
        //         >a {
        //         }
        //       }
        //     }
        //   }
        }
      }
    }
  }
}